
@import 'fontawesome';

:root {
	font-family: 'Barlow', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

#videoBackground {
  position: fixed!important;
  width: 90%!important;
  height: 100%!important;
  top: 0!important;
  right: 0!important; 
  transform: translateX(+38%);
  /* background: linear-gradient(#7e7cb5, #91b1a2); */
  z-index: 0;
  opacity: 0.6;
}

.rect-img-container {
  position: relative;
  width: 100%; 
  overflow: hidden; 
}

.rect-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%; 
}

.rect-img-container img {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row{
  width: 100%!important;
  /* margin-left: 3%; */
  /* padding-left: 15px!important; */
}

.wrapper{
  margin-left:5%;
}

.cryptedmail {
  font-size: .8rem;
  font-weight: 100 !important;
  padding: 0 .5rem .75rem .75rem !important;
  margin: 0 !important;
  color: white !important;
  display: inline-block;
}

html {
	/* background-color: #3e9dc968 */
}

body {
	font-size: 1rem;
	line-height: 1.7;
	font-family: 'Barlow', 'Noto Sans KR' !important;
	font-weight: 300
}
.page-content {
	padding: 0 10rem !important;
  z-index: 1;
}
/* footer {
  background-image: url("/media/background-dalle-long.png");
  background-color: #f1f59957;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  color: black;
  padding: 2rem 10rem !important;
  margin: 2rem;
  font-weight: 400;
} */
footer {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  margin: 2rem;
  font-weight: 400;
  overflow: hidden; /* Hide the part of the image that exceeds the footer's width */
}

#footerImage {
  position: absolute; /* Absolute position inside the footer */
  right: 0; /* Align to the rightmost side */
  top: 0; /* Align to the top */
  height: 100%; /* Match the height of the footer */
  width: auto; /* Keep the original width but adjust to the height */
  z-index: -1; /* Position behind the footer's content */
}

::-moz-selection {
	color: #333;
	background: rgb(221, 221, 221);
}

::selection {
	color: #000;
	background: #fff1a3;
}

a {
	text-decoration: none !important;
	color: #000 !important;
}
a:hover {
  font-weight: 400 !important;
}
.zoom {
	transition: transform .2s;
}
.zoom:hover {
  transform: scale(1.02); 
}

p {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: .75rem !important;
}
p:last-child {
	margin-bottom: 0 !important;
}

p > a {
	font-weight: 400;
}

h4 {
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}

.main {
	padding: 1rem .5rem;
}

.container {
	margin-bottom: 2rem;
	max-width: none !important;
}

.container:last-of-type {
	margin-bottom: 0 !important;
}

.active {
	font-weight: 500 !important;
}
  
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 50px;
  height: 90px;
  transition: height 0.3s;
}

.navbar-toggler {
  border: none;
  padding: 0;
  cursor: pointer;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: .75px;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;  /* Smooth transition on hover */
}

.nav-link:hover, .nav-link.active {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-item {
  padding-left: 1.1rem;
  width: 90%;
}

/* Mobile-specific styles */
@media (max-width: 768px) { /* This breakpoint can be adjusted based on your design */
  .navbar {
      padding: 0px 15px; /* Reduce padding on mobile */
      height: 70px; /* Reduce height on mobile */
  }

  .nav-item {
      padding-right: 0.5rem; 
      text-align: right;;/* Reduce padding for list items on mobile */
  }
}

@media screen and (max-width: 575px) {
	.padding-row {
		padding-top: 1rem !important;
	}

  #videoBackground {
  display:none}
}

.person-image {
  background-position: center;  /* Center the image */
  background-repeat: no-repeat;  /* Do not repeat the image */
  background-size: cover;  /* Resize the image to cover the container */
  width: 100%; /* width of the container */
  height: 150px;  /* Adjust based on your desired height */
  margin-bottom: 10px;  /* Adjust based on your preference */
}

.publication-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.publication-card .icon {
  flex: 0 0 10px;
  padding-right: 10px;
}

.publication-card .details {
  flex: 1;
}

.conference h4 {
  border-bottom: 2px solid #333;
  border-width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}


@media screen and (max-width: 1200px) {
	.page-content {
		padding: 0 5rem !important;
	}
    footer {
	    padding: 2rem 5rem !important;
    }
}
@media screen and (max-width: 991px) {
	.page-content {
		padding: 0 1rem !important;
	}
    footer {
	    padding: 2rem 1rem !important;
    }
}

@media screen and (max-width: 575px) {
	.page-content {
		padding: 0 .3rem !important;
	}
    footer {
	    padding: 2rem .3rem !important;
    }
}